<h3>{$T.i18n.auditHeading}</h3>

<p>
{$T.i18n.auditImportant}<br />
{$T.i18n.auditCastAgain}
</p>

<p>{$T.i18n.auditWhy}</p>

<p>
{$T.i18n.auditNowWhat}<br />
<a onclick="$('#audit_trail').select(); return false;" href="#">{$T.i18n.selectAuditInfo}</a> &mdash;
<a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">{$T.i18n.ballotVerifier}</a>.<br />
{$T.i18n.auditSatisfied}
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
{$T.i18n.beforeBackToVoting}
<br /><br />
{$T.i18n.auditMustCast}
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">{$T.i18n.backToVoting}</button>
&nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">{$T.i18n.postAuditedBallot}</button>
</form>
