{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% block title %}{% trans "Confirm Vote" %}{% endblock %}

{% block content %}
<h1>{% trans "Your Vote was Cast" %}</h1>

<p>
    {% blocktrans with voter_id=voter.voter_id trimmed %}
    A vote was successfully cast for <b>{{ voter_id }}</b>, with vote fingerprint:
    {% endblocktrans %}
    <br /><br />
    <tt style="font-size: 2em;">{{voter.vote_hash}}</tt>
</p>

{% url "election@view" election.uuid as election_view_url %}
<p>
    {% blocktrans trimmed %}Visit the <a href="{{ election_view_url }}">election homepage</a>.{% endblocktrans %}
</p>

{% endblock %}
