{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{{cast_vote.vote_tinyhash}} &mdash; {{election.name}}{% endblock %}
{% block content %}
<h2 class="title">{% blocktrans with vote_id=cast_vote.vote_tinyhash %}Cast Vote {{ vote_id }}{% endblocktrans %}</h2>
{% url "election@view" election.uuid as election_view_url %}
{% blocktrans with election_name=election.name %}cast in <a href="{{ election_view_url }}">{{ election_name }}</a>{% endblocktrans %}<br />
{% blocktrans with vote_hash=cast_vote.vote_hash %}Fingerprint: <tt>{{ vote_hash }}</tt>{% endblocktrans %}<br />
{% firstof the_voter.alias the_voter.name as voter_display_name %}
{% blocktrans %}by <b><u>{{ voter_display_name }}</u></b>{% endblocktrans %}
<br /><br />
<a href="#" onclick="$('#castvote_content').slideToggle(250); return false;">{% trans "details" %}</a><br /><br />
<div style="display:none;" id="castvote_content">
<textarea cols="100" rows="10">
{{vote_content}}
</textarea>
</div>
<br /><br />




{% endblock %}
