{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% blocktrans with election_name=election.name %}Compute tally — {{ election_name }}{% endblocktrans %}{% endblock %}
{% block content %}
  <h2 class="title">{% blocktrans with election_name=election.name %}{{ election_name }} &mdash; Compute tally{% endblocktrans %} <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">{% trans "Cancel" %}</a>]</span></h2>
  <p>{% trans "You are about to compute the tally for this election. The results will initially be visible only to administrators." %}</p>
  <form method="POST" action=""><input type="hidden" name="csrf_token" value="{{csrf_token}}" /><input type="submit" class="button" value="{% trans 'Compute the tally' %}" /></form>
{% endblock %}
