{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% blocktrans with election_name=election.name %}Remove administrator — {{ election_name }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h3 class="title">{% blocktrans with election_name=election.name %}{{ election_name }} &mdash; Remove administrator{% endblocktrans %} <span style="font-size:0.7em;">[<a href="{% url "election@admins" election.uuid %}">{% trans "Cancel" %}</a>]</span></h3>
<p>{% blocktrans with admin_html=admin_to_remove.display_html_small|safe admin_id=admin_to_remove.user_id %}Are you sure you want to remove <strong>{{ admin_html }}</strong> ({{ admin_id }}) as an administrator of this election?{% endblocktrans %}</p>
<p>{% trans "They will no longer be able to manage this election." %}</p>
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" /><input type="hidden" name="email" value="{{admin_to_remove.user_id}}" /><input type="hidden" name="user_type" value="{{admin_to_remove.user_type}}" />
<input class="button" type="submit" value="{% trans 'Remove administrator' %}" /> &nbsp;&nbsp; <a href="{% url "election@admins" election.uuid %}">{% trans "Cancel" %}</a>
</form>
{% endblock %}
