{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% blocktrans with election_name=election.name %}Audited ballots for {{ election_name }}{% endblocktrans %}{% endblock %}
{% block content %}
  <h2 class="title">{% blocktrans with election_name=election.name %}{{ election_name }} &mdash; Audited ballots{% endblocktrans %} <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">{% trans "Back to election" %}</a>]</span></h2>

<p>{% blocktrans trimmed %}When you prepare a ballot with Helios, you immediately receive a ballot tracker. Before casting it, you can ask Helios to open that encrypted ballot so you can verify that your choices were encrypted correctly. You can then publish that opened ballot here for anyone to verify; your identity is not included. After auditing a ballot you must encrypt your choices again and obtain a new ballot tracker.{% endblocktrans %}</p>
<p>{% blocktrans %}These ballots are <em>not cast</em> and will not be counted. They are published only for auditing purposes.{% endblocktrans %}</p>
{% url "election@home" election.uuid as election_home_url %}<p>{% blocktrans %}To verify an audited ballot, copy its entire content and paste it into the <a target="_new" href="/booth/single-ballot-verify.html?election_url={{ election_home_url }}">single ballot verifier</a>.{% endblocktrans %}</p>

{% if audited_ballots %}
<p>{% blocktrans with first=offset_plus_one last=offset_plus_limit %}Audited ballots {{ first }}–{{ last }}{% endblocktrans %}</p>
{% if next_after %}<a href="?after={{next_after}}&offset={{offset_plus_limit}}">{% blocktrans with limit=limit %}Next {{ limit }}{% endblocktrans %}</a> &nbsp;&nbsp;{% endif %}
{% if offset != 0 %}<a href="?">{% trans "Back to start" %}</a> &nbsp;&nbsp;{% endif %}
{% if more_p %}<a href="?after={{next_after}}&offset={{next_offset}}">{% blocktrans with limit=limit %}Next {{ limit }}{% endblocktrans %}</a>{% endif %}
<table class="pretty">{% for b in audited_ballots %}<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">{% trans "View" %}</a>]</td></tr>{% endfor %}</table>
{% else %}<em>{% trans "No audited ballots yet." %}</em>{% endif %}
{% endblock %}
