{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% blocktrans with election_name=election.name %}Compute encrypted tally for {{ election_name }}{% endblocktrans %}{% endblock %}
{% block content %}
  <h2 class="title">{% blocktrans with election_name=election.name %}Compute tally for {{ election_name }}{% endblocktrans %}</h2>
<div id="instructions">
{% if num_pending_votes > 0 %}
<p><b>{% blocktrans count count=num_pending_votes %}{{ count }} vote is still being processed.{% plural %}{{ count }} votes are still being processed.{% endblocktrans %}</b></p>
<p>{% blocktrans with help_email=settings.HELP_EMAIL_ADDRESS %}All votes must be verified before computing the tally. Please wait and try again shortly. If this persists, contact <a href="mailto:{{ help_email }}">{{ help_email }}</a>.{% endblocktrans %}</p>
<p><a href="{% url "election@compute-tally" election.uuid %}">{% trans "Refresh this page" %}</a> | <a href="{% url "election@view" election.uuid %}">{% trans "Back to election" %}</a></p>
{% elif election.num_cast_votes %}
<p>{% blocktrans with election_name=election.name %}You are about to compute the encrypted tally for <b>{{ election_name }}</b>.{% endblocktrans %}</p>
<p>{% trans "Once you do this, voters will no longer be able to cast a ballot." %}</p>
{% trans "OK, tally computation has begun." as tally_begun_message %}
<form method="post" action="" onsubmit="alert('{{ tally_begun_message|escapejs }}')" class="pretty">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input class="button" type="submit" value="{% trans 'Compute encrypted tally' %}" />
<button class="button" onclick="document.location='{% url "election@view" election.uuid %}'; return false;">{% trans "Cancel" %}</button>
</form>
{% else %}
<p>{% trans "No votes have been cast in this election. At least one vote must be cast before you compute the tally." %}<br /><br /><a href="{% url "election@view" election.uuid %}">{% trans "Back to election" %}</a></p>
{% endif %}
</div>
<br /><br />
{% endblock %}
