{% extends TEMPLATE_BASE %}
{% load i18n %}
{% load timezone_tags %}
{% block title %}{% trans "Deleted elections" %}{% endblock %}
{% block content %}
<h1>{% trans "Deleted elections" %}</h1>
<form method="get" action="{% url "stats@deleted-elections" %}"><b>{% trans "Search" %}</b>: <input type="text" name="q" value="{{q}}"/> <input class="small button" type="submit" value="{% trans 'Search' %}" /> <a class="small button" href="?">{% trans "Clear search" %}</a></form>
<p>{% if elections_page.has_previous %}<a href="?page={{elections_page.previous_page_number}}&limit={{limit}}&q={{q|urlencode}}">{% blocktrans with limit=limit %}Previous {{ limit }}{% endblocktrans %}</a> &nbsp;&nbsp;{% endif %}{% blocktrans with start=elections_page.start_index end=elections_page.end_index total=total_elections %}Elections {{ start }}–{{ end }} (of {{ total }}){% endblocktrans %}&nbsp;&nbsp;{% if elections_page.has_next %}<a href="?page={{elections_page.next_page_number}}&limit={{limit}}&q={{q|urlencode}}">{% blocktrans with limit=limit %}Next {{ limit }}{% endblocktrans %}</a>{% endif %}</p>
{% if elections %}
{% for election in elections %}
<p>{% blocktrans with election_name=election.name admin_name=election.admin.pretty_name admin_email=election.admin.info.email %}<b>{{ election_name }}</b> by <a href="mailto:{{ admin_email }}">{{ admin_name }}</a>{% endblocktrans %}<br />
{% blocktrans with deleted_at=election.deleted_at|utc_time %}Deleted at: {{ deleted_at }}{% endblocktrans %}<br />
{% blocktrans count voter_count=election.num_voters %}{{ voter_count }} voter{% plural %}{{ voter_count }} voters{% endblocktrans %} / {% blocktrans count vote_count=election.num_cast_votes %}{{ vote_count }} cast vote{% plural %}{{ vote_count }} cast votes{% endblocktrans %}<br />
{% trans "Are you sure you want to restore this election? It will become visible to its administrators again." as confirm_restore_election %}
<form method="post" action="{% url "stats@undelete-election" election.uuid %}" style="display:inline;" onsubmit="return confirm('{{ confirm_restore_election|escapejs }}');"><input type="hidden" name="csrf_token" value="{{csrf_token}}" /><button type="submit" class="small button">{% trans "Restore" %}</button></form>
</p>
{% endfor %}
{% else %}<p>{% trans "No deleted elections found." %}</p>{% endif %}
{% endblock %}
