{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Statistics" %}{% endblock %}
{% block content %}
<h1>{% trans "Elections" %}</h1>
<form method="get" action="{% url "stats@elections" %}"><b>{% trans "Search" %}</b>: <input type="text" name="q" value="{{q}}"/> <input class="small button" type="submit" value="{% trans 'Search' %}" /> <a class="small button" href="?">{% trans "Clear search" %}</a></form>
<p>{% if elections_page.has_previous %}<a href="?page={{elections_page.previous_page_number}}&limit={{limit}}&q={{q|urlencode}}">{% blocktrans with limit=limit %}Previous {{ limit }}{% endblocktrans %}</a> &nbsp;&nbsp;{% endif %}{% blocktrans with start=elections_page.start_index end=elections_page.end_index total=total_elections %}Elections {{ start }}–{{ end }} (of {{ total }}){% endblocktrans %}&nbsp;&nbsp;{% if elections_page.has_next %}<a href="?page={{elections_page.next_page_number}}&limit={{limit}}&q={{q|urlencode}}">{% blocktrans with limit=limit %}Next {{ limit }}{% endblocktrans %}</a>{% endif %}</p>
{% for election in elections %}{% url 'election@view' election.uuid as election_url %}<p>{% blocktrans with election_name=election.name admin_name=election.admin.pretty_name voter_count=election.num_voters vote_count=election.num_cast_votes admin_email=election.admin.info.email %}<b><a href="{{ election_url }}">{{ election_name }}</a></b> by <a href="mailto:{{ admin_email }}">{{ admin_name }}</a> — {{ voter_count }} voters / {{ vote_count }} cast votes{% endblocktrans %}</p>{% endfor %}
{% endblock %}
