{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Statistics" %}{% endblock %}
{% block content %}
<h1>{% trans "Administration" %}</h1>
<ul>
<li><a href="{% url "stats@elections" %}">{% trans "Elections" %}</a></li>
<li><a href="{% url "stats@deleted-elections" %}">{% trans "Deleted elections" %}</a></li>
<li><a href="{% url "stats@user-search" %}">{% trans "User search" %}</a></li>
<li><a href="{% url "stats@recent-votes" %}">{% trans "Recent votes" %}</a></li>
<li><a href="{% url "stats@elections-problems" %}">{% trans "Recent problem elections" %}</a></li>
</ul>
<div>{% blocktrans count count=num_votes_in_queue %}<b>{{ count }}</b> vote in queue.{% plural %}<b>{{ count }}</b> votes in queue.{% endblocktrans %} {% if num_votes_in_queue %}[<form class="inline-action" method="post" action="{% url "stats@force-queue" %}"><input type="hidden" name="csrf_token" value="{{csrf_token}}" /><button type="submit" class="link-button">{% trans "Process now" %}</button></form>]{% endif %}</div>
{% endblock %}
