{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
<h2 class="title">{% blocktrans with election_name=election.name %}{{ election_name }} &mdash; Bulk upload voters{% endblocktrans %} <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">{% trans "Back to election" %}</a>]</span></h2>
<form method="post" action="" id="upload_form" enctype="multipart/form-data">
<p>{% blocktrans trimmed %}If you want to specify voters by name and email address, you can bulk upload a list here.<br /><br />Prepare a comma-separated values file with the fields:{% endblocktrans %}</p>
<pre>password,&lt;unique_id&gt;,&lt;email&gt;,&lt;full name&gt;</pre>
<p>{% trans "or" %}</p><pre>github,&lt;username&gt;</pre>
<p>{% trans "For example:" %}</p><pre>password,bobsmith,bob@acme.org,Bob Smith
github,benadida
...</pre>
<p>{% trans "The easiest way to prepare this file is to use a spreadsheet program and export it as CSV." %}</p>
{% if error %}<div style="color: red;">{{error}}</div>{% endif %}
<input type="hidden" name="csrf_token" value="{{csrf_token}}" /><input type="file" name="voters_file" /><input class="button" type="submit" value="{% trans 'Upload' %}" />
</form>
<div id="processing"></div>
<div id="done" style="display:none;">{% blocktrans %}Upload complete. You can now <a href="./manage">view the voter list</a>.{% endblocktrans %}</div>
{% endblock %}
