{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% blocktrans with election_name=election.name %}Voter eligibility for {{ election_name }}{% endblocktrans %}{% endblock %}
{% block content %}
<h2 class="title">{% blocktrans with election_name=election.name %}{{ election_name }} &mdash; Voter eligibility{% endblocktrans %} <span style="font-size:0.7em;">[<a href="{% url "election@voters@list-pretty" election.uuid %}">{% trans "Back to voters" %}</a>]</span></h2>
<p><em>{{election.pretty_eligibility|safe}}</em></p>
<p>{% blocktrans with auth_type=user.user_type %}You may limit voter eligibility to one of these categories, as defined by {{ auth_type }}:{% endblocktrans %}</p>
<form method="post" action=""><input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<select name="category_id"><option value="" SELECTED>{% trans "No constraint" %}</option>{% for category in categories %}<option value="{{category.id}}">{{category.name}}</option>{% endfor %}</select>
<input class="button" type="submit" value="{% trans 'Set eligibility' %}" />
</form>
{% endblock %}
